<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="1.0.0.5" id="backoftheenvelope" xml:lang="en">
  <author href="http://www.example.com/"
          rim:copyright="Copyright 1998-2012 My Corp">IFF Capital</author>
  <name>Back of the Envelope</name>
  <content src="index.html"/>
  <feature id="blackberry.identity" required="true" version="1.0.0.0"/>
  
  <!-- ********************* -->
	<!-- App-specific features -->
	<!-- ********************* -->

	<!-- to create dialogs -->
	<feature id="blackberry.ui.dialog"/>

	<!-- to invoke apps and cards -->
	<feature id="blackberry.invoke"/>

	<!-- to trap onswipedown event, etc. -->
	<feature id="blackberry.app"/>

	<!-- to listen for system events, etc. -->
	<feature id="blackberry.system"/>

	<!-- to allow toast notifications -->
	<feature id="blackberry.ui.toast"/>

	<!-- to listen for language change events -->
	<feature id="blackberry.event"/>

	<!-- to allow bbm integration -->
	<feature id="blackberry.bbm.platform"/>

	<!-- to invoke the calendar card -->
	<feature id="blackberry.invoke.card"/>

	<!-- to search and create calendar events -->
	<feature id="blackberry.pim.calendar"/>

	<!-- to listen for sensor events -->
	<feature id="blackberry.sensors"/>
	
	<feature id="blackberry.message.sms" />
	<feature id="blackberry.ui.menu" />
	
	<access uri="http://chart.apis.google.com" subdomains="true" />
  <feature id="blackberry.ui.Spinner" />
  <feature id="blackberry.push" />
  <feature id="blackberry.message.sms" />
  <feature id="blackberry.ui.menu" />
  <feature id="blackberry.identity" />
</widget>